Exported Solution/Workflows/Clearoldlistings-94E28354-53B9-EE11-A569-0022480BC9B1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "apptrack_sharedcommondataserviceforapps_ff360"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "startTime": "2024-01-22T08:00:00Z",
            "schedule": {
              "weekDays": [
                "Monday"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "0ec9e8ec-cc8c-4f83-9a61-d514abb886fc"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1c977976-b562-4b02-aa78-0547b63a2160"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "apptrack_joblistings",
              "$filter": "statecode eq 0"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_2": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Condition": {
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "79b50a0d-4983-4ebe-80d1-9278ed7155d9"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "apptrack_joblistings",
                      "recordId": "@items('Apply_to_each_2')",
                      "item/statecode": 1
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "greaterOrEquals": [
                  "@utcNow()",
                  "@addDays(item()?['apptrack_cutoffdate'], 30)"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e2023e7-f8d4-44be-9973-df5f4f82651e"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f7ead131-93f7-4213-8c37-c55f8adcbd2e"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}